<hr />
<p>
  <strong>Email:</strong>
  <%= comment.user.email %>
</p>
 
<p>
  <strong>Content:</strong>
  <%= comment.content %>
</p>

<% if current_user.id == comment.user.id || current_user.admin? == true %>
	<p>
  	<%= link_to 'Delete comment', [comment.article, comment],
    	           method: :delete,
        	       data: { confirm: 'Are you sure?' } %>	
	</p>

<% end -%>
