<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <div class="form-group">
    <%= form.label :content, 'Content' %>
    <%= form.text_area :content, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>