<div class="card" style="height: 120px">
  <div class="card-body">
    <div class="d-flex">
      <h5 class="card-title"><%= article.nume %></h5>
      <% if current_user.id == article.user.id || current_user.admin? == true %>
        <div class="dropdown ml-auto">
          <a href="#" class="text-dark" id="dropactions-group-<%= article.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          &#8801;
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropactions-group-<%= article.id %>">
            <%= link_to "Edit", edit_article_path(article), class: 'dropdown-item' %>
            <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure?" }, class: 'dropdown-item text-danger' %>
          </div>
        </div>
      <% end -%>
    </div>
    <div><%= link_to "More details", article %></div>
  </div>
</div>