<%= form_with model: article, local: true do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(article.errors.count,"error") %></h4>
      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nume, value: "Nume" %>
    <%= f.text_field :nume, placeholder: "Enter a name...", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :content, value: "Content" %>
  
    <%= f.text_area :content, placeholder: "Enter content...", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.collection_check_boxes :category_ids, categories, :id, :nume, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>