
<div class="mb-3 d-flex align-items-center">
  <h2>Articles</h2>
  <%= link_to 'New', new_article_path, class: "btn btn-primary ml-auto" %>
</div>

<div class="row">
  <% @articles.each do |article| %>
    <div class="col-4">
      <%= render article %>
    </div>
  <% end %>
</div>