<div class="jumbotron">
	<h2><%= @article.nume %></h2>
	<br />
	<div style="width: 300px; height: auto">
		<%= image_tag(@article.image, style:"width: 100%") %>
	</div>
	<br />
	<p><%= @article.content %></p>
	<ul>
		<% @article.categories.each do |category| %>
  			<div class="col-4">
    			<li> <%= category.nume %></li>
  			</div>
		<% end %>
	</ul>
</div>
<h3>Comments</h3>
<% if current_user.admin? == true %>
	<%= render @article.comments %>
<% else %>
    <%= render @article.comments.published %>
<% end -%>
<br />
<h4>Add a comment:</h4>
<hr />
<%= render 'comments/form' %>