<%= render layout: 'shared/form_card_row', locals: { title: 'Forgot your password?' } do %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <%= f.submit "Send me reset password instructions", class: 'btn btn-info btn-block mb-3' %>
  <% end %>

  <%= render "devise/shared/links" %>
<% end %>