<div class="row">
  <div class="col-<%= local_assigns[:size] || 4 %> mx-auto mt-4">
    <div class="card">
      <% if local_assigns[:title].present? %>
        <div class="card-header">
          <%= title %>
        </div>
      <% end %>

      <div class="card-body">
        <%= yield %>
      </div>
    </div>
  </div>
</div>