<div class="card">
  <div class="card-body">
    <div class="d-flex">
      <h5 class="card-title"><%= category.nume %></h5>
      <%if current_user.admin? %>
        <div class="dropdown ml-auto">
           <a href="#" class="text-dark" id="dropactions-group-<%= category.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          &#8801;
           </a>
           <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropactions-group-<%= category.id %>">
             <%= link_to "Edit", edit_category_path(category), class: 'dropdown-item' %>
             <%= link_to "Delete", category_path(category), method: :delete, data: { confirm: "Are you sure?" }, class: 'dropdown-item text-danger' %>
           </div>
        
        </div>
      <% end -%>
    </div>

    <div><%= link_to "More details", category %></div>
  </div>
</div>