<%= form_with model: category, local: true do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(category.errors.count,"error") %></h4>
      <ul>
        <% category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :nume, value: "Nume" %>
    <%= f.text_field :nume, placeholder: "Enter a name...", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>