<div class="mb-3 d-flex align-items-center">
  <h2>Categories</h2>
  <%if current_user.admin? == true %>
  	<%= link_to 'New', new_category_path, class: "btn btn-primary ml-auto" %>
  <% end -%>
</div>

<div class="row">
  <% @categories.each do |category| %>
    <div class="col-4">
      <%= render category %>
    </div>
  <% end %>
</div>