<header class="app-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to 'Blog', root_path, class: 'navbar-brand' %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Users', users_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Categories', categories_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Articles', articles_path, class: 'nav-link' %>
        </li>
      </ul>

      <div class="navbar-text text-light ml-auto mr-1">
        <em><%= current_user.email %></em>
      </div>

      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete,  class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </nav>
</header>

<nav class="app-nav">
</nav>
