<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <%= render 'layouts/header' if user_signed_in? %>

    <% flash.each do |name, msg| -%>
      <%= flash_error(name, msg) %>
    <% end -%>

    <div class="container mt-3">
      <%= yield %>
    </div>
  </body>
</html>
